<launch>
    <include file="$(find cougarbot_simulation)/launch/cougarbot.launch"/>
    <include file="$(find cougarbot_moveit_config)/launch/move_group.launch"/>
    <include file="$(find cougarbot_moveit_config)/launch/moveit_rviz.launch">
        <arg name="rviz_config" value="True"/>
    </include>
</launch>
